
    	<div class="bg">
    		<div class="row">  	
					<div class="col-sm-6">
					<div class="signup-form"><!--sign up form-->
						<h2>Log in</h2>
						    <%= form_for(:session, url: login_path) do |f| %>

						      <%= f.label :email %>
						      <%= f.email_field :email, class: 'form-control' %>

						      <%= f.label :password %>
						      <%= f.password_field :password, class: 'form-control' %>

						      <%= f.submit "Log in", class: "btn btn-primary" %>
						    <% end %>

						    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>

	
	<br />
	<br />
	
