<div class="bg">
	<div class="row">  	
			<div class="col-sm-6">
			<div class="signup-form"><!--sign up form-->
				<h2>New Product!</h2>
				    <%= form_for(@product) do |f| %>
				     
				      <%= render 'shared/error_messages', object: f.object %>

				      <%= f.label :name %>
				      <%= f.text_field :name, class: 'form-control' %>

				      <%= f.label :price %>
				      <%= f.number_field :price, class: 'form-control' %>

				      <%= f.label :description %>
				      <%= f.text_field :description, class: 'form-control' %>

					  <%= f.label :sold %>
				      <%= f.check_box :sold, class: 'form-control' %>

				      <span class="picture">
					    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
					  </span>
				
				      <%= f.submit "Save", class: "btn btn-primary" %>
				    <% end %>
			</div><!--/sign up form-->
		</div>
	</div>
</div>


<br />
<br />

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

