<div class="bg">
	<div class="row">  	
			<div class="col-sm-6">
			<div class="signup-form"><!--sign up form-->
				<h2>New Post!</h2>
				    <%= form_for(@product) do |f| %>
				     
				      <%= render 'shared/error_messages', object: f.object %>

				      <%= f.label :content %>
				      <%= f.text_field :content, class: 'form-control' %>

				      <%= f.submit "Save", class: "btn btn-primary" %>
				    <% end %>
			</div><!--/sign up form-->
		</div>
	</div>
</div>